<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.1">
<dict>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>JustJournal</string>
	<key>CFBundleIdentifier</key>
	<string>com.laffer1.widget.JustJournal</string>
	<key>CFBundleName</key>
	<string>JustJournal</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>CloseBoxInsetX</key>
	<integer>15</integer>
	<key>CloseBoxInsetY</key>
	<integer>15</integer>
	<key>Height</key>
	<integer>342</integer>
	<key>MainHTML</key>
	<string>JustJournal.html</string>
	<key>Width</key>
	<integer>265</integer>
</dict>
</plist>
